@use "../variables/@index" as *;

// 画像などを縦横比を維持したままレスポンシブ対応するmixin
// @param {Number} $width - 画像の横幅
// @param {Number} $height - 画像の縦幅
@mixin aspect-ratio($width, $height) {
  position: relative;

  &::before {
    float: left;
    padding-top: ($height / $width) * 100%;
    content: "";
  }

  &::after {
    display: block;
    clear: both;
    content: "";
  }

  & > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
