*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: fill-available;

  // スマホを横にしても文字サイズを大きくしない
  text-size-adjust: 100%;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  min-height: fill-available;
  overflow-x: hidden;
  line-height: 1.5;

}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentcolor;
}

picture,
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  max-width: 100%;
  display: block;
  vertical-align: top;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

svg {
  overflow: visible;
  fill: currentcolor;
}

// ページ内リンクしたときに対象の要素がビューポートの上辺からどれぐらい離れているか？
:target {
  scroll-margin-block: 5ex;
}
